In [23]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
import pandas as pd 
from conf import *

pd.set_option('display.float_format', lambda x: '%.3e' % x if float(x) > 5000 or float(x) < 0.01 and float(x) != 0 else ('%d' % x if x.is_integer() else '%.3f' % x))

In [25]:
DIR = 'results/hello'

hyperp = pd.read_csv(f'{DIR}/hyperparameters.csv'); hyperp['values'].map(float)
data = pd.read_csv(f'{DIR}/simulationdata.csv'); 
try: data.drop('seq.1', axis=1, inplace=True)
except KeyError: pass
try: data.drop('Unnamed: 0', axis=1, inplace=True)
except KeyError: pass

In [29]:
hyperp.T

,0,1,2,3,4,5,6,7
hyperparameters,minimum_nucleation,zipping_rate,sliding_rate,temperature,azimutal_angle,longitudinal_angle,runtime,N_simul
values,4,2.000e+09,2.000e+07,25,120,270,5.000e-06,3000

In [32]:
data

,seq,expvalue,computed,off_register,on_register,zipping,failed,fail%
0,GTTCGGTCTA,1.146e+06,2.212e+06,0,7,14,42,1.400
1,CCAAAACCAA,1.668e+06,4.991e+06,2,7,14,2,0.067
2,AAACCACACA,1.809e+06,2.100e+07,2,7,14,0,0