In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
sys.path.append('..')

In [5]:
import numpy as np 
import pandas as pd
from hdna import *

EXPNAME = 'datawritingtrials'
RESULTS_DIR = f"results/{EXPNAME}"

# Import experimental data from Hertel 
expdata = pd.read_csv('../data/herteldata.csv', names=['seq', 'expvalue'])
# Clean the dataframe 
expdata = expdata.drop(0)
expdata['expvalue'] = ['{:e}'.format(float(e)) for e in expdata['expvalue']]

limit = 5

In [9]:
limited = expdata.iloc[:5]

In [10]:
limited

                  seq      expvalue
1  GTTCGGTCTA          1.145950e+06
2  CCAAAACCAA          1.668154e+06
3  AAACCACACA          1.809459e+06
4  ACCAAACCAC          2.167675e+06
5  ACACCAAACC          2.178513e+06